/* general styles */

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0 auto;
  background-color: #0f2340;
  font-family: font;
  
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  color: aliceblue;

}

@font-face {
  font-family: font;
  src: url('./fonts/Poppins-Regular.ttf');
}

main {
  padding: 2rem;
  max-width: 1600px;
  margin: 0 auto;
}

section {
  max-width: 1024px;
  margin: 0 auto 10rem;
  scroll-margin-top: 100px;
}

/* page styling */
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  color: aliceblue;
}

h3 {
  font-size: 26px;
  color: aliceblue;
}

h4 {
  font-size: 20px;
  color: aliceblue;
}

p {
  font-size: 16px;
  color: aliceblue;
}


/* navigation */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1100;
  padding: 0 50px;
  width: 100%;
  height: 100px;
  backdrop-filter: blur 10px;
  background-color: #0f2340;
  transition: top 0.5s;

}

.topnav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  color: #cdd6f6;
  z-index: 1200;
}

.topnav .logo {
  display: flex;
  align-items: center;
  width: 100px;
  padding: 10px;
  
}

.navflex {
  display: flex;
  align-items: center;
}

.nav-links {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  color: rgb(255, 255, 255);
}

.nav-links li {
  margin: 0 5px;
  position: relative;
  font-size: 24px;
}

.nav-links li::before {
  content: '';
  position: absolute;
  background-color: rgba(127, 255, 212, 0.572);
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 0px;
  z-index: -1;
  transition: all .2s ease-in-out;
}

.nav-links li:hover::before {
  bottom: 0;
  height: 100%;
}

.nav-links a {
  padding: 10px;

}

.contact-btn {

  background-color: transparent;
  border: 1px solid aquamarine;
  border-radius: 4px;

}


.burger {
  display: none;
  cursor: pointer;

}

.burger div {
  width: 25px;
  height: 3px;
  background-color: aliceblue;
  margin: 5px;
  transition: all 0.5s ease;

}

.hero {
  max-width: 1024px;
  height: 100vh;
  margin: 10vh auto;
  color: aliceblue;
}

.hero h1 {
  font-size: 40px;
  margin: 0;
  color: aliceblue;
}

.hero p {
  font-size: 40px;
  color: aliceblue;
}

.title span {
  font-size: 4rem;
  color: rgb(42, 157, 143);
}

.fancy {
  color: rgb(42, 157, 143);
}

.about-box {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 0 10px;
}

.about-img {
  max-width: 300px;

}


.skills-list {
  color: aliceblue;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 10px 10px;
  padding: 0;
  margin: 20px 0 0;
  color: rgb(42, 157, 143);
  justify-content: center;
}

.skills-list li::before {
  content: '\2192';
  margin-right: 1em;
  color: white;
  font-size: 16px;
}

.case-hero {
  max-width: 1024px;
  margin: 10vh auto;
  color: aliceblue;
  display: flex;
}

.case-hero h1 {
  font-size: 40px;
  margin: 0;
  color: aliceblue;
}
.case-hero p {
  font-size: 26px;
  color: aliceblue;
}
.case-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.case-hero-img {
  min-width: 20vw;
}
.case-img {
  display: flex;
  justify-content: center;
  width: 100%;
  

}

@media screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }
  .hero p{
    font-size: 30px;
  }

  .about-box {
    display: block;
  }

  .about-img {
    margin: 50px auto 0;
  }
  .case-img {
    flex-wrap: wrap;
  }
  

  .nav-links {
    position: absolute;
    right: -10vw;
    height: 60vh;
    top: 100px;
    background-color: #0f2340;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
  
}

.nav-active {
  transform: translateX(0%)
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);

  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.container {
  margin: 2rem 0;
}

.container .box {
  position: relative;
  width: 50vw;
  height: 35vh;
  z-index: 0;
  overflow: hidden;
  vertical-align: middle;
  margin: 0 auto 2rem;
}



.container .box:hover {
  transform: scale(1.02);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}

.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  height: 100%;  
}

.container .box .imgBx:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0b1e3bcf;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
}

.container .box:hover .imgBx:before {
  opacity: 1;
}

.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}

.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(300px);
  transition-delay: 0.5s;
}

.container .box:hover .content h2 {
  transform: translateY(-50px);
}

.container .box .content a {
  background-color: transparent;
    border: 1px solid aquamarine;
    border-radius: 4px;
    font-size: 24px;
    padding: 10px;
}
.container .box .content a::before {
  content: '';
    position: absolute;
    background-color: rgba(127, 255, 212, 0.572);
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transition: all .2s ease-in-out;
}
.container .box .content a:hover::before {
  bottom: 0;
  height: 100%;
}
.container .box .content p, 
.container .box .content a  {
  transition: 0.5s;
  transform: translateY(300px);
  transition-delay: 0.4s;
}

.container .box:hover .content p,
.container .box:hover .content a {
  transform: translateY(-50px);
}

.contact {
  max-width: 600px;
  text-align: center;
}
.contact .mail {
  padding: 10px;
  background-color: transparent;
    border: 1px solid aquamarine;
    border-radius: 4px;
}
.contact .mail::before {
  content: '';
    position: absolute;
    background-color: rgba(127, 255, 212, 0.572);
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 0px;
    z-index: -1;
    transition: all .2s ease-in-out;
}
.contact .mail:hover::before {

  bottom: 0;
    height: 100%;
}

.back-top div {
  font-size: 50px;
  margin: 0;
  text-align: center;
}

/* scroll styling */
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}